<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/Communication_Tower-256.png">
    </head>
    <body>
        <div class="main">
            <p class="error">{{error}}</p>
            {{>header}}
        </div>
        
        {{>footer}}
    </body>
</html>