<!DOCTYPE html>
<html>
    <head>
        <title>Sobre</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/Communication_Tower-256.png">
    </head>
    <body>
        <div class="main">
            <p class="title">{{title}}</p>
            {{>header}}
            <img class="portrait" src="/img/FB_IMG_16157997938810551.jpg">
            <p class="description">{{developer}} (desenvolvedor) com a <span>Cecília Tch. F. Kambita (a esposa)</span></p>
        </div>
        
        {{>footer}}
    </body>
</html>