<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Resgisto</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>

    <body>
        {{>_pre}}
        {{>_navbar}}
        {{>_msg}}

        <div class="container" id="cadastro">
        <br><br><br>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="cad_nome" aria-describedby="emailHelp" placeholder="Nome">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="cad_email" aria-describedby="emailHelp" placeholder="E-mail">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <a href="#" id="download-button" class="btn-large waves-effect waves-light indigo lighten-1">Salvar</a>
            </form>
        </div>
        <br><br>

        {{>footer}}
        <!--  Scripts-->
        <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
        <script src="js/jQuery.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
        <script>
            var dte = new Date().getFullYear()
            const value = document.querySelector('.date')
            value.innerHTML = dte
        </script>

    </body>
</html>