<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Resgisto</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link rel="icon" href="img/073_view_show-256.png">
    </head>

    <body>
        {{>_pre}}
        {{>_navbar}}
        {{>_msg}}

        <div class="container" id="cadastro">
        <br><br><br>
            <form action="/registo" method="post">
                <div class="form-group">
                    <input type="text" name="nome" id="nome" aria-describedby="emailHelp" placeholder="Nome *">
                </div>
                <div class="form-group">
                    <input type="email" name="email" id="email" aria-describedby="emailHelp" placeholder="E-mail *">
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="exampleInputPassword1" placeholder="Password *">
                </div>
                <button class="btn-large waves-effect waves-light indigo lighten-1"><a href="/registo" class="white-text">Salvar</a></button>
            </form>
            <br>
        </div>
        <br><br>

        {{>footer}}
        <!--  Scripts-->
        <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
        <script src="js/jQuery.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
    </body>
</html>