<!DOCTYPE html>
<html>
    <head>
        <title>Clientes</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Alianca Kahossi</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link rel="icon" href="img/073_view_show-256.png">
    </head>
    
    <body>
        {{>_pre}}
        {{>_navbar}}
        <div class="container">
            <h1 class="grey-text darken-2">{{title}}</h1>
            <h3 class="grey-text darken-2">Available: {{available}}</h3>
            <h3 class="grey-text lighten-2">Brevemente disponivel!</h3>
        </div>

        {{>footer}}

        <script src="js/jQuery.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
    </body>

</html>