<!DOCTYPE html>  
<html lang="pt-pt">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Teia Coding</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link rel="icon" href="img/073_view_show-256.png">
    </head>
    <body>
        {{>_pre}}
        {{>_navbar}}
        <div class="container">
            {{#if error}}
                <div class="alert alert-danger">{{error}}</div>
            {{else}}

            {{/if}}
            {{>_msg}}
            <br>
            <div class="row center" id="carousel">
                <div class="carousel col s12 light">
                    <a class="carousel-item"><img src="img/pics/AI-Tech-Trends-EPI.jpg">Inteligência Artificial</a>
                    <a class="carousel-item"><img src="img/pics/abstract-dna-molecules-structure-science-technology-background-illustration-vector-119136443.jpg">Redes Neurais</a>
                    <a class="carousel-item"><img src="img/pics/abstract-technology-background-business-development-direction-vector-futuristic-style-elegant-tech-presentations-68106502.jpg">Tecnologia</a>
                    <a class="carousel-item"><img src="img/pics/FB_IMG_16158000089722989.jpg" hight="380">Desenvolvedor</a>
                    <a class="carousel-item"><img src="img/pics/7581d1b9-cb10-4bd3-9536-a17f07ddd6b9.jpg">Computação Móvel</a>
                    <a class="carousel-item"><img src="img/pics/AI-Technology-Trends.jpg">Inteligência Artificial & Robótica</a>
                    <a class="carousel-item"><img src="img/pics/101212078-technology-background-and-abstract-digital-tech-circle-with-various-technological-elements-.jpg">Crypto Moedas</a>
                </div>
            </div>
        </div>
        <div class="row center">
            <button class="btn-large waves-effect waves-light indigo lighten-1"><a href="/registo" class="white-text">Criar conta</a></button>
        </div>


        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <div class="icon-block">
                        <h1 class="center text-lighten-3 indigo-text light"><i class="material-icons">place</i></h1>
                        <h5 class="center light black-text">Nossos escritórios</h5>
                        <p class="light">Temos escritório na cidade do Lubango, no centro comercial Millenium, segundo piso. E temos escritório na cidade de Menongue, Rua do Aeroporto defronte a direção dos Antigos Combatentes.</p>
                    </div>
                </div>

                <div class="col s12 m6">
                    <div class="icon-block">
                        <h1 class="center text-lighten-3 indigo-text light"><i class="material-icons">people</i></h1>
                        <h5 class="center light black-text">Clientes satisfeitos</h5>
                        <p class="light">Os nossos clientes são as empresas que têm a vontade de ganhar vantagens competitivas através do processo de digitalização, ou seja, através de implemetação de soluções tecnológicas e assim estar a par das tendéncias actuais.</p>
                    </div>
                </div>

                <div class="col s12 m6">
                    <div class="icon-block">
                        <h1 class="center text-lighten-3 indigo-text light"><i class="material-icons">group_work</i></h1>
                        <h5 class="center light black-text">Produtos</h5>
                        <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                    </div>
                </div>

                <div class="col s12 m6">
                    <div class="icon-block">
                        <h1 class="center text-lighten-3 indigo-text light"><i class="material-icons">group_work</i></h1>
                        <h5 class="center light black-text">Serviços</h5>
                        <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                    </div>
                </div>
            </div>
        </div>


        {{>footer}}


        <!--  Scripts-->
        <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
        
        <script>
            var dte = new Date().getFullYear()
            const value = document.querySelector('.date')
            value.innerHTML = dte
        </script>

        <script src="js/jQuery.js"></script>
        <script src="js/init.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/materialize.mini.js"></script>
    
    </body>
</html>