<!DOCTYPE html>  
<html lang="pt-pt">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Teia Coding</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
        {{>_pre}}
        {{>_navbar}}
        <div class="container">
            {{#if error}}
                <div class="alert alert-danger">{{error}}</div>
            {{else}}

            {{/if}}
            {{>_msg}}
            <br>
            <div class="row center" id="carousel">
                <div class="carousel col s12 light">
                    <a class="carousel-item"><img src="img/pics/AI-Tech-Trends-EPI.jpg">Artificial Inteligence</a>
                    <a class="carousel-item"><img src="img/pics/abstract-dna-molecules-structure-science-technology-background-illustration-vector-119136443.jpg">Molecular structure</a>
                    <a class="carousel-item"><img src="img/pics/abstract-technology-background-business-development-direction-vector-futuristic-style-elegant-tech-presentations-68106502.jpg">Technology background</a>
                    <a class="carousel-item"><img src="img/pics/FB_IMG_16158000089722989.jpg" hight="380">Developer</a>
                    <a class="carousel-item"><img src="img/pics/7581d1b9-cb10-4bd3-9536-a17f07ddd6b9.jpg">Mobile computing</a>
                    <a class="carousel-item"><img src="img/pics/AI-Technology-Trends.jpg">Another Artificial Inteligence</a>
                    <a class="carousel-item"><img src="img/pics/101212078-technology-background-and-abstract-digital-tech-circle-with-various-technological-elements-.jpg">About Inteligence</a>
                </div>
            </div>
        </div>
        <div class="row center">
            <a href="/registo" id="download-button" class="btn-large waves-effect waves-light indigo lighten-1">Criar conta</a>
        </div>


        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <div class="icon-block">
                        <h1 class="center text-lighten-3 indigo-text light"><i class="material-icons">place</i></h1>
                        <h5 class="center light black-text">Nossos escritórios</h5>
                        <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                    </div>
                </div>

                <div class="col s12 m6">
                    <div class="icon-block">
                        <h1 class="center text-lighten-3 indigo-text light"><i class="material-icons">people</i></h1>
                        <h5 class="center light black-text">Clientes satisfeitos</h5>
                        <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
                    </div>
                </div>

                <div class="col s12 m6">
                    <div class="icon-block">
                        <h1 class="center text-lighten-3 indigo-text light"><i class="material-icons">group_work</i></h1>
                        <h5 class="center light black-text">Produtos</h5>
                        <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                    </div>
                </div>

                <div class="col s12 m6">
                    <div class="icon-block">
                        <h1 class="center text-lighten-3 indigo-text light"><i class="material-icons">group_work</i></h1>
                        <h5 class="center light black-text">Serviços</h5>
                        <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                    </div>
                </div>
            </div>
        </div>


        {{>footer}}


        <!--  Scripts-->
        <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
        
        <script>
            var dte = new Date().getFullYear()
            const value = document.querySelector('.date')
            value.innerHTML = dte
        </script>

        <script src="js/jQuery.js"></script>
        <script src="js/init.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/materialize.mini.js"></script>
    
    </body>
</html>