<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Alianca Kahossi</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
        {{>_pre}}
        {{>_navbar}}

        <div class="container" id="login">
            <br><br><br>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">E-mail</label>
                    <input type="email" class="form-control" id="login_email" aria-describedby="emailHelp" placeholder="Insira o seu e-mail">
                </div>
                <div class="form-group">
                    <label for="login_password">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Insira o seu password">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                </div>
                <a href="#" id="download-button" class="btn-large waves-effect waves-light indigo lighten-1">Logar</a>
            </form>
        </div>
        <br><br><br>

        {{>footer}}
        <script src="js/jQuery.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/materialize.mini.js"></script>
        <script src="js/init.js"></script>

        <script>
            var dte = new Date().getFullYear()
            const value = document.querySelector('.date')
            value.innerHTML = dte
        </script>
    
    </body>

</html>