<!DOCTYPE html>
<html>
    <head>
        <title>Products</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/Communication_Tower-256.png">
    </head>
    <body>
        <div class="main">
            <p class="title">{{title}}</p>
            {{>header}}
            {{{body}}}
        </div>
        
        {{>footer}}
    </body>
</html>