<div id="pre" class="light-blue lighten-2">
    <div class="container">
        <h2 id="text_logo"><a href="/" class="white-text">Teia Coding</a></h2>
        <form>
            <a href="#" id="search-button" class="btn-large waves-effect waves-light indigo right white-text">Buscar</a>
            <input class="right grey lighten-3" id="search" type="text" placeholder="Pesquise um produto">
        </form>
    </div>
</div>