<footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <h5 class="light white-text">Historial da empresa</h5>
          <p class="light white-text-">Aqui saberá de tudo acerca de nós, sobre como começamos, onde estamos e onde pretendemos estar.</p>


        </div>
        <div class="col l4 s12">
          <h5 class="light white-text">Escritórios</h5>
          <ul>
            <li><a class="light white-text" href="#!"><i class="material-icons">place</i>Huila/Lubango</a></li>
            <li><a class="light white-text" href="#!"><i class="material-icons">place</i>Cuando Cubango/Menongue</a></li>

          </ul>
        </div>
        <div class="col l4 s12">
          <h5 class="light white-text">Contactos</h5>
          <ul>
            <li><a class="light white-text" href="#!">WhatsApp: (+244) 924 285 213</a></li>
            <li><a class="light white-text" href="#!"><i class="material-icons">phone</i> (+244) 938 782 291</a></li>
          </ul>
        </div>
      </div>
    </div>
	
    <div class="footer-copyright">
		<div class="container">
			Teia Coding&copy; <span class="date"></span></br><small class="lighten">Desenvolvido por Isaías António Kambita</small>
		</div>
	</div>
  </footer>